page-about {

}
.navbar{
    text-align: center;
}


#timeDisp{
    margin-top:50px;
    font-size: 70px;
    text-align: center;
}

#timeSelect{
    margin-top:50px;
}

ion-item{
    background-color: rgba(0, 0, 0, 0.904) !important;
}

#timeInput{
    font-size: 30px;
    color: white;
}

#btn{
    margin-top: 100px;
    height: 100px;
    width: 100px;
}