<ion-header>
  <ion-navbar color="dark" class="navbar">
    <ion-title>Stopwatch</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid no-padding>
    <ion-row justify-content-around id="timeDisp">
      {{ hr }}:{{ min }}:{{ sec }}
    </ion-row>

    <ion-row justify-content-around>
      <button
        ion-button
        round
        outline
        large
        color="light"
        id="btn"
        *ngIf="!isStart && !isPause"
        (click)="start()"
      >
        Start
      </button>
      <button
        ion-button
        round
        outline
        large
        color="light"
        id="btn"
        *ngIf="!isStart && isPause"
        (click)="start()"
      >
        Resume
      </button>
      <button
        ion-button
        round
        outline
        large
        color="light"
        id="btn"
        *ngIf="isStart"
        (click)="cancel()"
      >
        Cancel
      </button>
      <button
        ion-button
        round
        outline
        large
        color="light"
        id="btn"
        *ngIf="isStart"
        (click)="pause()"
      >
        Pause
      </button>
    </ion-row>
  </ion-grid>
</ion-content>
