page-home {

}

.content{
    background-color: rgba(0, 0, 0, 0.904);
    color: white;
}

.navbar{
    text-align: center;
}


#time{
    font-size: 60px;
    margin-top: 200px;
    text-align: center;
}